<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>This website is mainly served as a online platform for desginers, photographers, architects and etc. to communicate, to learn and to manage their masterpieces.</p>

<div>
	This website is built by Cong Sun who is a junior undergraduate in the University of Wisconsin-Madison double major in Computer Science and Operation and Technology Management. 
</div>