<li>
  <span class="content">
     <%= link_to gallery.name, gallery %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(gallery.created_at) %> ago.
  </span>
  <% if current_user?(gallery.user) %>
    <%= link_to "Delete", gallery, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: gallery.name %>
    <%= link_to "Edit", edit_gallery_path(gallery) %> 
  <% end %>
</li>